* {
    margin: none;
    padding: none;
}

.container {
    padding: 30px;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    width: 80vw;
    height: fit-content;

    background-color: rgba(96, 96, 96, 0.563);
}



h1,
h2 {
    font-family: 'Tilt Prism', cursive;
    font-weight: heavy;
    text-align: center;
    border-radius: 4px;
    color: rgb(38, 226, 226);
    margin: auto;

}

h1 {
    padding: 0 12px;
    background-color: rgba(223, 223, 223, 0.302);

    width: fit-content;
    margin: 54px auto 20px auto;
    font-size: 65px;
}

body {
    background-image: url('https://images.unsplash.com/photo-1598620617377-3bfb505b4384?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80');
    background-size: cover;
    background-position: 0 -30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    background-color: rgb(176, 176, 255);
}

ul {

    margin: 0;
    width: 90%;
    list-style-type: none;
}

h2 {
    font-size: 30px;
    color: rgb(255, 135, 135);
    width: fit-content;
    margin: auto;
    padding: 2px 20px;
}

button {
    display: inline;
    background-color: transparent;
    border: none;
    margin: none;
    vertical-align: baseline;

}

form,
form div {
    display: inline;

}

input {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
    height: 1.6em;
    padding: 3px;
    margin: 5px;
}



li {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    padding: 5px;
    border-radius: 8px;
    /* padding-left: 40px; */
    width: 90%;
    margin: 3px;
    background-color: rgba(111, 111, 111, 0.703);

}

.icons {
    margin-left: 8px;
}

.taskInput {
    display: flex;
    flex-direction: column;
    align-items: center;

    /* margin-left: 45px; */

}



.notUrgentText {
    display: inline;
    margin-left: 28px;
}

h2 {
    margin: 20px 10px 0 15px;

}

label {
    color: white;
    font-weight: 400;

}

.due {
    margin-left: 50px;
}

#task {
    padding: 7px;
    margin: auto;
    align-self: center;
    text-align: center;
    font-size: large;
    margin-bottom: 15px;

}


.addTask {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    background-color: white;
    border-radius: 5px;
    border: 1px solid lightgray;
    color: rgb(79, 80, 81);
    padding: 5px 7px;
}

.addTask:hover {
    color: green
}

.incomplete {
    border: 1px solid rgba(109, 107, 107, 0);

    /* color: rgb(79, 80, 81); */
}

.incomplete:hover {
    background-color: white;
    border-radius: 50%;
    color: rgb(8, 209, 8);
    border: 1px solid rgb(8, 209, 8);
}


.trash {
    border: 1px solid rgba(109, 107, 107, 0);

}

.trash:hover {
    background-color: white;
    border-radius: 50%;
    border: 1px solid rgb(109, 107, 107);
    color: rgb(55, 55, 55);
}

/* .material-symbols-outlined {} */

.star {
    margin-bottom: 5px;
    padding-right: 5px;
    color: rgb(255, 23, 23);
}